<!DOCTYPE html>
<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.css" media="screen">
<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">

<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <meta charset="utf-8">
        <title>{{dctCurr.stName}}</title>
        <style>
            body{
            font-family:Arial,Helvetica,sans-serif;
            font-size: 12px;
            }
        </style> 
    </head>
    <body>
    <script type="text/javascript">

        $(document).ready(function() {
            var max_fields      = 50; //maximum input boxes allowed
            var wrapper         = $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID
        
            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
              e.preventDefault();
              if(x < max_fields){ //max input box allowed
                x++; //text box increment
            $(wrapper).append('<br><div><input type="file" name="file"/></div><a href="#" class="remove_field">Remove</a><br></div>'); //add input box
            }
          });
        
          $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
          })
        });
    </script>
        <body>
                <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a href="{% url 'home' %}" class="navbar-brand">Secure Witness Share</a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'messages' %}" id="download">Messages <span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="download">
                    <li><a href="{% url 'messages' %}">Messages</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'inbox' %}">Inbox</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'outbox' %}">Sent Messages</a></li>

                  </ul>
                </li>
                <li>
                  <a href="{% url 'list' %}">Files</a>
                </li>
		<li>
		  <a href="{% url 'search' %}">Search</a>
                </li>
                
                <li>
                  <a href="{% url 'groups_creator' %}">Groups</a>
                </li>
                <li>
                  <a href="{% url 'groups' %}">Groups List</a>
                </li>

                {%if SM %}
                    <li>
                      <a href="{% url 'Site_manager' %}">Site Manager</a>
                    </li>
                {%endif%}
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}" target="_blank">Logout</a></li>
              </ul>

            </div>
          </div>
        </div>
        <!-- Upload form. Note enctype attribute! -->
        <br></br>
        <br></br>
        <form action="{% url 'create_report' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ reportform.name.label_tag}} {{reportform.name}}</p>
	    <p>{{ reportform.shortDescription.label_tag}} {{reportform.shortDescription}}</p>
            <p>{{ reportform.detailedDescription.label_tag}}<br>{{reportform.detailedDescription}}</p>
            <p>{{ reportform.private.label_tag}} {{reportform.private}} {{reportform.private.help_text}}</p>
            <p>{{ reportform.encrypt.label_tag}} {{reportform.encrypt}} {{reportform.encrypt.help_text}}</p>
            <p>{{ reportform.groups_list.label_tag}} {{reportform.groups_list}} {{reportform.groups_list.help_text}}</p>
            <br>
            Upload File(s)
            <br><br>
            <div class="input_fields_wrap">
                <button class="add_field_button">Add Another File</button>
                <br><br>
                <div><input type="file" name="file"/></div>
                
            </div>
            <br>
            
            <br>
            <input type="submit" value="Create Report" />
        </form>
    </body>
</html>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../assets/js/custom.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
