<!DOCTYPE html>
<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.css" media="screen">
<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">

<html>
    <head>
        <meta charset="utf-8">
        <title>{{dctCurr.stName}}</title>  
        <style>
            body{
            font-family:Arial,Helvetica,sans-serif;
            font-size: 12px;
            }
        </style> 
    </head>
    <body>
        <body>
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a href="{% url 'home' %}" class="navbar-brand">Secure Witness Share</a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li>
                  <a href="{% url 'list' %}">Files</a>
                </li>
                <li>
                  <a href="{% url 'messages' %}">Messages</a>
                </li>
                <li>
                  <a href="{% url 'groups_creator' %}">Groups</a>
                </li>
                <li>
                  <a href="{% url 'groups' %}">Groups List</a>
                </li>
                {%if SM %}
                    <li>
                      <a href="{% url 'Site_manager' %}">Site Manager</a>
                    </li>
                {%endif%}
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}" target="_blank">Logout</a></li>
              </ul>

            </div>
          </div>
        </div>
        <!-- Upload form. Note enctype attribute! -->
        <br></br>
        <br></br>
        <form action="{% url 'create_report' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ reportform.shortDescription.label_tag}} {{reportform.shortDescription}}</p>
            <p>{{ reportform.detailedDescription.label_tag}} {{reportform.detailedDescription}}</p>
            <p>{{ reportform.private.label_tag}} {{reportform.private}} {{reportform.private.help_text}}</p>
            <p>{{ reportform.groups_list.label_tag}} {{reportform.groups_list}} {{reportform.groups_list.help_text}}</p>
            <br>
            Upload File(s)
            <p>{{ docform.non_field_errors }}</p>
            <p>{{ docform.docfile.label_tag }} {{ docform.docfile.help_text }}</p>
            <p>
                {{ docform.docfile.errors }}
                {{ docform.docfile }}
            </p>
            <br>
            <input type="submit" value="Create Report" />

        <p><a href="{% url 'home' %}">Home</a></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>

    </body>
</html>
