<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <style>
            body{
            font-family:Arial,Helvetica,sans-serif;
            font-size: 12px;
            }
        </style>
        <p style="font-size:20px">Welcome to secureshare/witness.</p>

    </head>
    <body>

        <p><a href="{% url 'list' %}">Click here to view the files.</a></p>
        <p><a href="{% url 'messages' %}">Click here to view and send messages.</a></p>
        <p><a href="{% url 'groups_creator' %}">Groups</a></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>


    </body>
</html>
