<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{dctCurr.stName}}</title>  
        <style>
            body{
            font-family:Arial,Helvetica,sans-serif;
            font-size: 12px;
            }
        </style> 
    </head>
    <body>
      <p>Current directory: {{path}}</p>
    <!-- List of uploaded documents -->
    {% if documents %}
        <p>Documents in {{dctCurr.stName}}:</p>
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if rgdct %}
	<p>Directories in {{dctCurr.stName}}:</p>
        <ul>
        {% for dct in rgdct %}
            <p>{{dct.stName}}</p>
        {% endfor %}
        </ul>
    {% endif %}
    
	<!-- cli form for directory manipulation -->
	<form action="{% url 'list' %}" method="post">
    	  {% csrf_token %}
    	  <p>{{cliform.command.label_tag}} {{ cliform.command }}</p>
	  <p>{{cliform.command.help_text}}</p>
	</form>

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ docform.non_field_errors }}</p>
            <p>{{ docform.docfile.label_tag }} {{ docform.docfile.help_text }}</p>
            <p>
                {{ docform.docfile.errors }}
                {{ docform.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
            <p><a href="{% url 'home' %}">Home</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </form>
    </body>
</html>
