<!DOCTYPE html>
<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.css" media="screen">
<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
<html>
    <head>
        <meta charset="utf-8">
        <title>Messages</title>  
        <style>
            body{
            font-family:Arial,Helvetica,sans-serif;
            font-size: 12px;
            }
        </style> 
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a href="{% url 'home' %}" class="navbar-brand">Secure Witness Share</a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li>
                  <a href="{% url 'list' %}">Files</a>
                </li>
                <li>
                  <a href="{% url 'messages' %}">Messages</a>
                </li>
                <li>
                  <a href="{% url 'groups_creator' %}">Groups</a>
                </li>
                <li>
                  <a href="{% url 'groups' %}">Groups List</a>
                </li>
                {%if SM %}
                    <li>
                      <a href="{% url 'Site_manager' %}">Site Manager</a>
                    </li>
                {%endif%}
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}" target="_blank">Logout</a></li>
              </ul>

            </div>
          </div>
        </div>
        <br>
        </br>
        <br>
        </br>

        <p><a href="{% url 'inbox' %}">Inbox</a></p>
        <p><a href="{% url 'outbox' %}">Sent Messages</a></p>

          <!-- Send message -->
        {{ state }}
        <form action="{% url 'messages' %}" method="post">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.subject.label_tag }} {{ form.subject }}</p>
            <p>{{form.msg.label_tag}} {{ form.msg }}</p>
            <p>{{form.encrypt.label_tag}} {{form.encrypt}}</p> 
            <p>{{form.receiver.label_tag}} {{ form.receiver }}</p>
            <input type="submit" value="Send" />
            <p><a href="{% url 'home' %}">Home</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </form>
    </body>
</html>
